* {
  box-sizing: border-box;
}

body {
  background: #fbfdff;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header .logo-main {
  margin: -6px 17px;
}

.header .user {
  content: "";
  background: url("../img/user.svg");
  width: 34.22px;
  height: 42px;
  right: 0;
  margin: 1px 21px 0 0;
  cursor: pointer;
  position: relative;
}

.header .user:hover > .exit-hover {
  display: flex;
}

.header .user .exit-hover {
  background: #4f89aa;
  border-radius: 10px;
  position: absolute;
  display: none;
  height: fit-content;
  bottom: -50px;
  top: 78px;
  right: -50px;
  z-index: 1;
}

.header .user .exit-hover:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 34px 59px 34px;
  border-color: transparent transparent #4f89aa transparent;
  z-index: -1;
  padding-top: 10px;
  top: -36px;
  left: 30px;
}

.header .user .exit-hover a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fbfdff;
  text-decoration: none;
  padding: 11px 31px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-clinic {
  width: 200px;
  height: 200px;
}

.data-clinic-wrapper {
  flex-direction: row;
  display: flex;
  margin-bottom: 87px;
}

.info-clinic {
  margin-left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f89aa;
}

.clinic-parameter-value-wrapper {
  display: flex;
  width: 610px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clinic-value {
  width: 450px;
}

.btns-wrapper {
  width: 710px;
  display: flex;
  justify-content: space-between;
}

.btn-edit,
.btn-view {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  width: 320px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-edit {
  color: #4f89aa;
  background: #fbfdff;
  border: 1px solid #4f89aa;
}

.btn-view {
  background: #4f89aa;
  color: #fbfdff;
  border: none;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
}
