* {
  box-sizing: border-box;
}

body {
  background: #fbfdff;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header .logo-main {
  margin: -6px 17px;
}


.header .user-menu {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 250px;
  margin: 1px 0 0 1037px;

  align-items: center;
}

.header .user-menu-hover-space {
  position: absolute;

  width: 35px;
  height: 70px;
}

.header .user-img {
  width: 35px;
}

.user-menu:hover > .user-actions-wrapper {
  display: flex;
}

.header .user-actions-wrapper {
  position: absolute;

  display: none;
  flex-direction: column;

  min-width: 130px;
  max-width: 250px;
  margin: 80px 0 0 0;

  border-radius: 10px;
  background: #4f89aa;

  align-items: center;
}

.header .user-actions-wrapper-triangle {
  position: absolute;

  width: 30px;
  height: 60px;
  margin: -40px 0 0 0;
}

.header .user-action {
  font-size: 20px;

  display: block;

  padding: 9px 16px;

  text-decoration: none;

  color: #fbfdff;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-clinic {
  width: 200px;
  height: 200px;
}

.data-clinic-wrapper {
  flex-direction: row;
  display: flex;
  margin-bottom: 87px;
}

.info-clinic {
  margin-left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f89aa;
}

.clinic-parameter-value-wrapper {
  display: flex;
  width: 610px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clinic-value {
  width: 450px;
}

.btns-wrapper {
  width: 710px;
  display: flex;
  justify-content: space-between;
}

.btn-edit,
.btn-view {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  width: 320px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-edit {
  color: #4f89aa;
  background: #fbfdff;
  border: 1px solid #4f89aa;
}

.btn-view {
  background: #4f89aa;
  color: #fbfdff;
  border: none;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
}
