* {
  box-sizing: border-box;
}

body {
  background: #fbfdff;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header .logo-main {
  margin: -6px 17px;
}


.header .user-menu {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 250px;
  margin: 1px 0 0 1037px;

  align-items: center;
}

.header .user-menu-hover-space {
  position: absolute;

  width: 35px;
  height: 70px;
}

.header .user-img {
  width: 35px;
}

.user-menu:hover > .user-actions-wrapper {
  display: flex;
}

.header .user-actions-wrapper {
  position: absolute;

  display: none;
  flex-direction: column;

  min-width: 130px;
  max-width: 250px;
  margin: 80px 0 0 0;

  border-radius: 10px;
  background: #4f89aa;

  align-items: center;
}

.header .user-actions-wrapper-triangle {
  position: absolute;

  width: 30px;
  height: 60px;
  margin: -40px 0 0 0;
}

.header .user-action {
  font-size: 20px;

  display: block;

  padding: 9px 16px;

  text-decoration: none;

  color: #fbfdff;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.change-clinic-wrapper {
  width: 982px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.overlay-popup-form {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.popup-form-wrapper {
  display: none;
  position: absolute;
  z-index: 1000;
  top: calc(50% - 250px);
  left: calc(50% - 400px);
}

.form-wrapper {
  width: 800px;
  background: #fbfdff;
  border-radius: 29px;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-value {
  width: 700px;
  height: 60px;
  border: 1px solid #4f89aa;
  box-shadow: 0px 4px 6px rgba(79, 137, 170, 0.3);
  border-radius: 15px;
  margin-bottom: 30px;
}

.form ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #143861;
  border-radius: 30px;
}

.form ::-webkit-scrollbar-thumb {
  background-color: #4f89aa;
  border-radius: 30px;
  opacity: 0.7;
}

.type-value {
  padding: 18px 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4f89aa;
  opacity: 0.7;
}

.form ::-webkit-input-placeholder {
  color: #4f89aa;
}
.form ::-moz-placeholder {
  color: #4f89aa;
}
.form :-moz-placeholder {
  color: #4f89aa;
}
.form :-ms-input-placeholder {
  color: #4f89aa;
}

.submit-form {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #fbfdff;
  background: #4f89aa;
  border-radius: 15px;
  border: none;
  padding: 10px 74px;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
  cursor: pointer;
}

.type-value:focus {
  outline: none;
}

.logo-clinic {
  width: 200px;
  height: 200px;
}

.data-clinic-wrapper {
  flex-direction: row;
  display: flex;
  margin-bottom: 87px;
}

.info-clinic {
  margin-left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f89aa;
}

.clinic-parameter-value-wrapper {
  display: flex;
  width: 610px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clinic-value {
  width: 450px;
}

.btns-wrapper {
  width: 710px;
  display: flex;
  justify-content: space-between;
}

.btn-edit,
.btn-view {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  width: 320px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-edit {
  color: #4f89aa;
  background: #fbfdff;
  border: 1px solid #4f89aa;
}

.btn-view {
  background: #4f89aa;
  color: #fbfdff;
  border: none;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
}
