@{
    Layout = "_Layout";
}
<div class="header-wrapper">
    <header class="header">
        <span class="logo-main">
            <img src="img/logo.svg" alt="Main logo" />
        </span>
        <div class="user-menu">
            <img src="img/user.svg" class="user-img">
            <div class="user-actions-wrapper">
                <img src="img/triangle.svg" class="user-actions-wrapper-triangle">
                <a href="#" class="user-action">Особистий кабінет</a>
                <a href="#" class="user-action">Вихід</a>
            </div>
        </div>
    </header>
</div>
<div class="main-wrapper">
    <main class="main">
        <table class="table">
            <tr class="table-row">
                <td class="patient">
                    <div class="patient-diagnosis-info-wrapper">
                        <div class="left">
                            <span class="patient-diagnosis-info">Острая боль, спазмы, температура</span>
                        </div>
                        <div class="right">
                            <span class="patient-diagnosis-date">10.03.2</span>
                            <span class="patient-diagnosis-time">12:23</span>
                            <button class="btn-open-info"></button>
                        </div>
                    </div>
                    <ul class="patient-contact-info">
                        <li class="patient-contact-address">
                            <span class="patient-contact-key">Дані:</span> вулиця Кочкін
                            В.О., kochkin.vol@gmail.com
                        </li>
                        <li class="patient-recommendations">
                            <span class="patient-recommendations-key">Рекомендації:</span>
                            виклик лікаря додому
                        </li>
                        <li class="patient-status">
                            <span class="patient-status-key">Статус:</span>
                            очікує обробку
                        </li>
                    </ul>
                </td>
                <td class="mail">
                    <a href="#"></a>
                </td>
                <td class="more">
                    <button class="btn-more"></button>
                    <div class="overlay-popup-options"></div>
                    <div class="popup-options-wrapper">
                        <div class="object">
                            <ul class="options">
                                <li><a href="#">необхідне обстеження</a></li>
                                <li>
                                    <a href="#">необхідна додаткова онлайн консультація</a>
                                </li>
                                <li>
                                    <a href="#">оброблено</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="table-row">
                <td class="patient">
                    <div class="patient-diagnosis-info-wrapper">
                        <div class="left">
                            <span class="patient-diagnosis-info">Острая боль, спазмы, температура</span>
                        </div>
                        <div class="right">
                            <span class="patient-diagnosis-date">10.03.2</span>
                            <span class="patient-diagnosis-time">12:23</span>
                            <button class="btn-open-info"></button>
                        </div>
                    </div>
                    <ul class="patient-contact-info">
                        <li class="patient-contact-address">
                            <span class="patient-contact-key">Дані:</span> вулиця Кочкін
                            В.О., kochkin.vol@gmail.com
                        </li>
                        <li class="patient-recommendations">
                            <span class="patient-recommendations-key">Рекомендації:</span>
                            виклик лікаря додому
                        </li>
                        <li class="patient-status">
                            <span class="patient-status-key">Статус:</span>
                            очікує обробку
                        </li>
                    </ul>
                </td>
                <td class="mail">
                    <a href="#"></a>
                </td>
                <td class="more">
                    <button class="btn-more"></button>
                    <div class="overlay-popup-options"></div>
                    <div class="popup-options-wrapper">
                        <div class="object">
                            <ul class="options">
                                <li><a href="#">необхідне обстеження</a></li>
                                <li>
                                    <a href="#">необхідна додаткова онлайн консультація</a>
                                </li>
                                <li>
                                    <a href="#">оброблено</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </main>
</div>