@{
    Layout = "_Layout";
}
<div class="header-wrapper">
    <header class="header">
        <span class="logo-main">
            <img src="img/logo.svg" alt="Main logo" />
        </span>
        <div class="user-menu">
            <img src="img/user.svg" class="user-img">
            <div class="user-actions-wrapper">
                <img src="img/triangle.svg" class="user-actions-wrapper-triangle">
                <a href="#" class="user-action">Перелік звернень</a>
                <a href="#" class="user-action">Вихід</a>
            </div>
        </div>
    </header>
</div>
<div class="main-wrapper">
    <main class="main">
        <div class="data-user-wrapper">
            <img class="avatar-user"
                 src="img/avatar-user.svg"
                 alt="avatar-user" />
            <div class="info-user">
                <div class="user-parameter-value-wrapper">
                    <div class="user-parameter">ФІО:</div>
                    <div class="user-value">
                        Коряк Володимир Сергійович
                    </div>
                </div>
                <div class="user-parameter-value-wrapper">
                    <div class="user-parameter">Посада:</div>
                    <div class="user-value">
                        терапефт
                    </div>
                </div>
                <div class="user-parameter-value-wrapper">
                    <div class="user-parameter">Пошта:</div>
                    <div class="user-value">koryak.volodymyr@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="requests-link-wrapper">
            <a class="requests-link" href="#">Перелік звернень</a>
        </div>
    </main>
</div>