* {
  box-sizing: border-box;
}

body {
  background: #fbfdff;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 194px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header .logo-main {
  margin: -6px 17px;
}

.header .user {
  content: "";
  background: url("../img/user.svg");
  width: 34.22px;
  height: 42px;
  right: 0;
  margin: 1px 21px 0 0;
  cursor: pointer;
  position: relative;
}

.header .user:hover > .exit-hover {
  display: flex;
}

.header .user .exit-hover {
  background: #4f89aa;
  border-radius: 10px;
  position: absolute;
  display: none;
  height: fit-content;
  bottom: -50px;
  top: 78px;
  right: -50px;
  z-index: 1;
}

.header .user .exit-hover:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 34px 59px 34px;
  border-color: transparent transparent #4f89aa transparent;
  z-index: -1;
  padding-top: 10px;
  top: -36px;
  left: 30px;
}

.header .user .exit-hover a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fbfdff;
  text-decoration: none;
  padding: 11px 36px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table {
  word-break: break-all;
}

.table-row {
  display: flex;
  align-items: flex-start;
}

.table-row .patient {
  border: 1px solid #4f89aa;
  max-width: 1000px;
}

.patient-diagnosis-info-wrapper {
  width: 1000px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f89aa;
}

.patient-diagnosis-info-wrapper .patient-diagnosis-info {
  max-width: 700px;
}

.right,
.left {
  display: flex;
  align-items: center;
}

.patient-diagnosis-date,
.patient-diagnosis-time {
  margin-right: 10px;
}

.patient-diagnosis-info-wrapper .btn-open-info {
  content: "";
  background: url("../img/triangle.svg");
  width: 26px;
  height: 23px;
  cursor: pointer;
  border: none;
}

.active .btn-open-info {
  transform: rotate(180deg);
}

.mail a {
  content: "";
  background: url("../img/mail.svg");
  width: 30px;
  height: 21px;
  cursor: pointer;
  border: none;
  margin: 20px 0 0 12.81px;
  position: absolute;
}

.btn-more {
  content: "";
  background: url("../img/more.svg");
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: none;
  margin: 20px 0 0 50px;
  position: absolute;
}

.overlay-popup-options {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.popup-options-wrapper {
  display: none;
  position: absolute;
  z-index: 1000;
  top: calc(50% - 125px);
  left: calc(50% - 200px);
}

.object {
  width: 400px;
  background: #fbfdff;
  border-radius: 29px;
  padding: 50px;
}

.object .options li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f89aa;
  text-decoration: none;
  border-radius: 15px;
}

.object .options li {
  margin-bottom: 15px;
}

.invite-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-contact-info {
  display: none;
  border-top: 1px solid #4f89aa;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 39px 50px 39px 20px;
  color: #4f89aa;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.patient-contact-info .patient-contact-address,
.patient-contact-info .patient-recommendations {
  margin-bottom: 15px;
}

.patient-contact-key,
.patient-recommendations-key,
.patient-status-key {
  font-weight: 600;
}
