* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;

	background: #fbfdff;
}

p {
	margin: 0;
	padding: 0;
}

.header-wrapper {
	display: flex;

	margin-bottom: 54px;

	justify-content: center;
}

.header {
	display: flex;

	width: 1200px;

	justify-content: space-between;
}

.header .logo-main {
	margin: -6px 17px;
}


.header .user-menu {
	position: absolute;

	display: flex;
	flex-direction: column;

	width: 250px;
	margin: 1px 0 0 1037px;

	align-items: center;
}

.header .user-menu-hover-space {
	position: absolute;

	width: 35px;
	height: 70px;
}

.header .user-img {
	width: 35px;
}

.user-menu:hover > .user-actions-wrapper {
	display: flex;
}

.header .user-actions-wrapper {
	position: absolute;

	display: none;
	flex-direction: column;

	min-width: 130px;
	max-width: 250px;
	margin: 80px 0 0 0;

	border-radius: 10px;
	background: #4f89aa;

	align-items: center;
}

.header .user-actions-wrapper-triangle {
	position: absolute;

	width: 110px;
	height: 60px;
	margin: -40px 0 0 0;
	padding: 0 40px;
}

.header .user-action {
	font-size: 20px;

	display: block;

	padding: 9px 16px;

	text-decoration: none;

	color: #fbfdff;
}

.main-wrapper {
	display: flex;

	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;

	width: 1200px;

	align-items: center;
}

.avatar-user {
	width: 200px;
	height: 200px;

	border-radius: 100px;
}

.data-user-wrapper {
	display: flex;
	flex-direction: row;

	margin-bottom: 87px;
}

.info-user {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;

	margin-left: 40px;

	color: #4f89aa;
}

.user-parameter-value-wrapper {
	display: flex;

	width: 610px;
	margin-bottom: 20px;

	justify-content: space-between;
}

.user-value {
	width: 450px;
}

.btn-request-list-wrapper {
	display: flex;

	width: 710px;

	justify-content: center;
}

.btn-request-list {
	font-size: 30px;
	font-weight: 500;
	line-height: 37px;

	width: 320px;
	height: 60px;

	cursor: pointer;
	text-align: center;

	color: #fbfdff;
	border: none;
	border-radius: 15px;
	background: #4f89aa;
	box-shadow: 0 5px 10px rgba(79, 137, 170, .6);
}