* {
	box-sizing: border-box;
}

body {
	background: #fbfdff;
	font-family: "Montserrat", sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

.header-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 102px;
}

.header {
	width: 1200px;
	display: flex;
	justify-content: space-between;
}

.header .logo-main {
	margin: -6px 17px;
}

.header .user {
	content: "";
	background: url("../img/user.svg");
	width: 34.22px;
	height: 42px;
	right: 0;
	margin: 1px 21px 0 0;
	cursor: pointer;
	position: relative;
}

.header .user:hover > .enter-hover {
	display: flex;
}

.header .user .enter-hover {
	background: #4f89aa;
	border-radius: 10px;
	position: absolute;
	display: none;
	height: fit-content;
	bottom: -50px;
	top: 78px;
	right: -40px;
	z-index: 1;
}

.header .user .enter-hover:after {
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 0 34px 59px 34px;
	border-color: transparent transparent #4f89aa transparent;
	z-index: -1;
	padding-top: 10px;
	top: -36px;
	left: 23px;
}

.header .user .enter-hover a {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #fbfdff;
	text-decoration: none;
	padding: 11px 31px;
}

.main-wrapper {
	display: flex;
	justify-content: center;
}

.main {
	width: 1200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}