* {
  box-sizing: border-box;
}

body {
  background: #fbfdff;
  font-family: "Montserrat", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 102px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header .logo-main {
  margin: -6px 17px;
}

.header .user {
  content: "";
  background: url("../img/user.svg");
  width: 34.22px;
  height: 42px;
  right: 0;
  margin: 1px 21px 0 0;
  cursor: pointer;
  position: relative;
}

.header .user:hover > .exit-hover {
  display: flex;
}

.header .user .exit-hover {
  background: #4f89aa;
  border-radius: 10px;
  position: absolute;
  display: none;
  height: fit-content;
  bottom: -50px;
  top: 78px;
  right: -50px;
  z-index: 1;
}

.header .user .exit-hover:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 34px 59px 34px;
  border-color: transparent transparent #4f89aa transparent;
  z-index: -1;
  padding-top: 10px;
  top: -36px;
  left: 30px;
}

.header .user .exit-hover a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fbfdff;
  text-decoration: none;
  padding: 11px 36px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-wrapper {
  width: 982px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.btn-add {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fbfdff;
  width: 200px;
  height: 60px;
  background: #4f89aa;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
}

.overlay-popup-form {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.popup-form-wrapper {
  display: none;
  position: absolute;
  z-index: 1000;
  top: calc(50% - 213px);
  left: calc(50% - 200px);
}

.invite-object {
  width: 400px;
  background: #fbfdff;
  border-radius: 29px;
  padding: 50px;
}

.invite-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-value {
  width: 300px;
  height: 60px;
  border: 1px solid #4f89aa;
  box-shadow: 0px 4px 6px rgba(79, 137, 170, 0.3);
  border-radius: 15px;
  margin-bottom: 30px;
}

.invite-form ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #143861;
  border-radius: 30px;
}

.invite-form ::-webkit-scrollbar-thumb {
  background-color: #4f89aa;
  border-radius: 30px;
  opacity: 0.7;
}

.type-value {
  padding: 18px 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4f89aa;
  opacity: 0.7;
}

.invite-form ::-webkit-input-placeholder {
  color: #4f89aa;
}
.invite-form ::-moz-placeholder {
  color: #4f89aa;
}
.invite-form :-moz-placeholder {
  color: #4f89aa;
}
.invite-form :-ms-input-placeholder {
  color: #4f89aa;
}

.submit-form {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #fbfdff;
  background: #4f89aa;
  border-radius: 15px;
  border: none;
  padding: 10px 74px;
  box-shadow: 0 5px 10px rgba(79, 137, 170, 0.6);
  cursor: pointer;
}

.type-value:focus {
  outline: none;
}

.table {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f89aa;
  border-collapse: collapse;
  word-break: break-all;
}

.table td,
.table th {
  padding: 16px 10px;
  text-align: start;
}

.delete a {
  content: "";
  background: url("../img/delete-busket.svg");
  width: 26px;
  height: 30px;
  cursor: pointer;
  border: none;
  margin: 20px 0 0 12.81px;
  position: absolute;
}

.row-post,
.row-mail {
  width: 300px;
}

.row-full-name {
  width: 400px;
}

.table-row-value td {
  border: 1px solid #4f89aa;
}

.table-row-value .delete {
  border: none;
  padding: 0;
  display: flex;
}